@font-face
{
	font-family:shili;
	src:url(../fonts/SHILIAW23430REGULAR.ttf);
}
body
{
	font-family: shili;
}
.top-header
{
	overflow: hidden;
}
.welcome
{
	float: right;
	font-size: 14px;
	padding: 28px ;
}
.log
{
	float: left;
	font-size: 14px;
	padding: 20px;

}
.english
{
	background-color: #ffe800;
	color: #000;
	outline: none;
	width: 90px;
}


.center-header
{

background: url("../images/sun.jpg") no-repeat top right;
padding: 36px 0px;
}

.logo
{
padding-bottom: 15px;

}
.search
{
padding-top: 20px;
	
}

.flipkart-navbar-input {
	position: relative;
    padding: 11px 20px;
    border-radius: 2px 0 0 2px;
    outline: 0 none;
    border:0 none;
    font-size: 15px;
    width: 90%;
    height: 40px;
    margin-left: 0px;
}

.flipkart-navbar-button {
	position: absolute;
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #0065a4;
    padding: 10px 0;
    height: 40px;
    cursor: pointer;
}
.search button 
{
	padding: 10px;
    left: 28px;
    top: 20px;
    font-size: 19px;
}
.product 
{

    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.car
{
	font-size: 30px;

}
.shop
{
	
	font-size: 10px;
	padding-right: 10px;
	
}

.navbar-default
{
	border:none;
	
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background-color: white;
	color: #0065a4;
}

.navbar-default .navbar-nav > li > a {
	color: #4a4a4a;
	font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover {
	color:  #0065a4;
	background-color: white;
}
.slid
{
	background: url(../images/sun-2.png) no-repeat -8% 87% / 20%
}
.slider
{
	margin-bottom: 50px;
}


.owl-prev , .owl-next
{
position: absolute;
top:0px;
color: white;

}

.owl-carousel {
	direction: ltr;
}
.slider .owl-carousel#sync1 img
 
{
height: 300px
width:100%;
}
.slider .owl-carousel#sync1 .owl-prev 
{
	font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateX(-50%);
}
.slider .owl-carousel#sync1 .owl-next
{
	font-size: 25px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateX(-50%);
	
	
	}
	.slider .owl-carousel#sync1 .owl-next i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
.slider .owl-carousel#sync1 .owl-prev i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
	.slider .owl-carousel#sync1 .owl-next i ,.slider .owl-carousel#sync1 .owl-prev i{
		background-color:#3a2c2c;
	}
.slider .owl-carousel#sync1 .owl-next i:hover 
{
	background-color: #ffe800;

}
.slider .owl-carousel#sync1 .owl-prev i:hover 
{
	background-color: #ffe800;

}

.slider .owl-carousel#sync2 a
{
	text-decoration: none;
}

.slider .owl-carousel#sync2 button
{
	height: 80px;
	width: 100%;
	border:none;
	color: black;
	font-size: 15px;
	font-weight: bolder;
	
}
.slider .owl-carousel#sync2 button span 
{
	font-size: 13px;
	font-weight: lighter;
	color:#444343;
}
.slider .owl-carousel#sync2 button:hover
{
	background-color: #78abca;
}
.slider .owl-carousel#sync2 .owl-prev 
{
	width: 20px;
	line-height:86px;
	font-size: 20px;
	background-color:#0065a4; 
	text-align: center;
	height: 80px;
}
.slider .owl-carousel#sync2 .owl-next
{
	width: 20px;
	line-height: 86px;
	right: 0;
	font-size: 20px;
	background-color:#0065a4; 
	text-align: center;
	height: 80px;
}


.slider .owl-carousel#sync2 .owl-prev:hover
{
	background-color:#ffe800; 
}
.slider .owl-carousel#sync2 .owl-next:hover
{
	background-color:#ffe800; 
}

.scrollator_lane
{
	top:50px;
}
.device
{
	text-align: -webkit-center;
}
.device img
{
margin-bottom: 30px;

}

.offers
{

}
.offers img
{
width: 100%;
height: 160px;
padding: 20px 30px;
}
.offers h1
{
text-align: right;
font-size: 22px;
font-weight: bolder;
padding-bottom: 15px;
}
.add
{
	border:1px solid #e7e2e2 ;
	text-align: center;
	padding: 20px
}
.offers .add:hover
{
	border-color: #ffe800;
}
.offers span {
	
	font-size: 20px;

}

.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #ffe800;
}
.price
{
	padding: 20px;
}
.offers button 
{
	background-color:#0065a4 ;
	color: #000;
	outline: none;
	width: 90px;
	color: white;
}
.offers button:hover
{
	background-color: #ffe800;
}

.phones img
{
width: 100%;
height: 160px;
padding: 10px 50px;
}
.phones h1
{
text-align: right;
font-size: 22px;
font-weight: bolder;
padding-bottom: 15px;
}
.phones span {
	
	font-size: 20px;

}
.phones button 
{
	background-color:#0065a4 ;
	color: #000;
	outline: none;
	width: 90px;
	color: white;
}
.brands img
{
	display: inline;
	padding:20px;
	margin: 15px; 

}
footer
{
	background: url(../images/background.png) no-repeat;
	background-size: cover;
}
footer h3
{
	color: #ffe800;
	font-size: 21px;
    font-weight: bolder;
}
.top-footer
{
	padding: 20px;
}
.top-footer a 
{
	color: white;
	font-size: 16px;
}
.top-footer p
{
	color: white;
	font-size: 17px;
}
.bottom-footer
{
	padding:20px;
}
.bottom-footer .mail
{
	background-color: #1e78b0;
	 padding: 31px;

}
.mail input
{
	width: 80%;
}
.mail button
{
	padding: 12px;
    margin: 2px;
    bottom: 28px;
}
footer i
{
    padding: 10px;
}
footer ul
{
	min-height: 111px;
}
.bottom-footer .help
{
	background-color: #1e78b0;
    padding: 38px;

}
.help button 
{
	left: 52px;
    width: 95px;
    bottom: 14px;
}
.copyright{
	float: right;
	    font-size: 11px;
    padding: 35px;
}
.collection
{
	float: left;
	padding: 20px;
}
