@media screen and (max-width: 549px) {


}
@media screen and (min-width: 550px){


}
@media screen and (min-width: 700px){

.navbar-default .navbar-nav > li > a
	{
		font-size: 10px;
	}
}
@media screen and (min-width: 850px){
	.navbar-default .navbar-nav > li > a
	{
		font-size: 10px;
	}

}
	@media screen and (min-width: 1000px){
		.navbar-default .navbar-nav > li > a
	{
		font-size: 16px;
	}
	.end .copyright
	{
		text-align: center;
	}
	.end .collection
	{
		text-align: center;
	}
	
}